html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.content{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* here we work with HEADER */
header {
    position: fixed;
    max-width: 1020px;
    top: 0;
    width: 100%;
    height: 95px;
    background: red;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 89px;
    background: #2D303A;
}

.logo_name {
    margin: 0px 0px 0.17em 1.65em;
    text-transform: uppercase;
    font-family: "Lato-Bold", sans-serif;
    font-size: 1.5em;
    color: white;
}

.logo_name::after {
    content: "*";
    font-size: 1.125em;
    color: red;
}

.header_line{
    width: 100%;
    height: 6px;
    background: #323746;
}

.nav_menu {
    margin-right: 1.95rem;
    margin-top: 0.25rem;
    color: white;
    font-family: "Lato-Bold", sans-serif;
    text-transform: uppercase;
    text-align: justify;
}

.nav_item {
    margin: 0px 0.65rem 0px 0.6rem;
    font-size: 0.7em;
    color: white;
}













/* here we work with main only */
main {
    max-width: 1020px;
    margin-top: 95px;
    height: 3357px;
    width: 100%;
    background: blue;
}

/* SLIDER */

.slider_wrapper {
    width: 100%;
    height: 600px;
    background: black;
}

.slider_content {
    width: 100%;
    height: 594px;
    background: #F06C64;
}

.slider_line {
    width: 100%;
    height: 6px;
    background: #EA676B;
}

/* SERVICES */

.services_wrapper {
    width: 100%;
    height: 500px;
    background: black;
}

.services_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 494px;
    background: #F2F2F2;
    color: #666D89;
}

.services_logo {
    margin: 1.8em 0px 0px 1.25em;
    font-family: "Lato-Black", sans-serif;
    font-size: 2em;
    letter-spacing: -0.065rem;
}

.services_info {
    font-family: "Lato-Light", sans-serif;
    margin: 0.95em 0px 0px 2.3em;
    font-size: 1.1em;
    letter-spacing: 0.007em;
    line-height: 1.75em;
}

.services_cards {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 9px 16px 0 22px;
}

.cards_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 87px;
    margin: 36px 0px 0px 19px;
    background: greenyellow;
}

.card_description {
    margin: -2px 0 0 19px;
}

.card_heading {
    font-family: "Lato-Black", sans-serif;
    font-size: 1.1em;
}

.card_text {
    font-family: "Lato-Regular", sans-serif;
    font-size: 0.7em;
    margin: 0.65em 0 0px 0;
    text-align: justify;
    line-height: 1.95em;
    letter-spacing: 0.03em;
}

.services_line {
    width: 100%;
    height: 6px;
    background: #FFFFFF;
}

/* PORTFOLIO */

.portfolio_wrapper {
    width: 100%;
    height: 870px;
    background: black;
}

.portfolio_content {
    width: 100%;
    height: 864px;
    background: #2D303A;
}

.portfolio_line {
    width: 100%;
    height: 6px;
    background: #323746;
}

/* ABOUT */

.about_wrapper {
    width: 100%;
    height: 732px;
    background: black;
}

.about_content {
    width: 100%;
    height: 726px;
    background: #F2F2F2;
}

.about_line {
    width: 100%;
    height: 6px;
    background: #FFFFFF;
}

/* QUOTE */

.quote_wrapper {
    width: 100%;
    height: 655px;
    background: black;
}

.quote_content {
    width: 100%;
    height: 649px;
    background: #F06C64;
}

.quote_line {
    width: 100%;
    height: 6px;
    background: #EA676B;
}









/*here we work with FOOTER */
footer {
    height: 76px;
    width: 100%;
    background: #2D303A;
}


/* with basic margins paddigns / etc */

h1, h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}