html{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1020px;
    width: 1020px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
header{
    width: 1020px;
    height: auto;
    background-color: black;
}
.header__block{
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}
.header__straightLine{
    width: 1020px;
    height: 6px;
    background-color: #323746;
}
main{
    width: 1020px;
    height: auto;
    background-color: red;
}
.main__block{
    display: flex;
    flex-direction: row;
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
}
.main__leftArrow{
    position: relative;
    margin: 279px 0px 0px 35px;
    width: 30px;
    height: 30px;
    background-image: url("./assets/images/arrowLeft.png");
    background-position: center;
    background-repeat: no-repeat;
}
.main__leftArrow:hover{
    transform: scale(1.5, 1.5);
    cursor: pointer;
    transition: 0.4s;
}
.main__iphoneVertical{
    width: auto;
    height: auto;
}
.iphoneVertical__body{
    position: relative;
    margin: 40px 0 0 34px;
    width: 240px;
    height: 483px;
    background-image: url("./assets/images/iphoneVertical.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
.iphoneVertical__shadow{
    position: relative;
    margin: -480px 0 0 17px;
    width: 300px;
    height: 500px;
    background-image: url("./assets/images/shadowVertical.png");
    background-position: center;
    background-repeat: no-repeat;
}
.main__iphoneHorizontal{
    width: auto;
    height: auto;
}
.iphoneHorizontal__body{
    position: relative;
    margin: 173px 0px 0px 43px;
    width: 458px;
    height: 216px;
    background-image: url("./assets/images/iphoneHorizontal.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
.iphoneHorizontal__shadow{
    position: relative;
    margin: -215px 0 0 44px;
    width: 483px;
    height: 240px;
    background-image: url("./assets/images/shadowHorizontal.png");
    background-position: center;
    background-repeat: no-repeat;
}
.main__rightArrow{
    position: relative;
    margin: 279px 0 0 49px;
    width: 30px;
    height: 30px;
    background-image: url("./assets/images/arrowRight.png");
    background-position: center;
    background-repeat: no-repeat;
}
.main__rightArrow:hover{
    transform: scale(1.5, 1.5);
    cursor: pointer;
    transition: 0.4s;
}
.main__straightLine{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}
footer{
    width: 1020px;
    height: auto;
    background-color: whitesmoke;
}
.footer__block{
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
}
.footer__straightLine{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}
.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 89px;
    margin: 0;
    padding: 0;
}
.logo__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 89px;
    margin: 0 0 2px 42px;
    padding: 0;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Lato-Light', sans-serif;
    text-transform: uppercase;
}
.logo__name_white:hover{
    color: #a7150d;
    cursor: cell;
}
.logo__name_white{
    margin: 0;
    padding: 0;
    color: white;
}
.logo__name_white::after{
    content: "*";
    color: red;
}
.navMenu__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 388px;
    height: 50px;
    margin: 2px 23px -7px 0;
    padding: 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.navMenu__home_red{
    margin: 0 15px 0 0;
    padding: 0;
    color: #f06c64;
}
.navMenu__home_red:hover{
    color: #8f1d17;
    cursor: cell;
}
.navMenu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    margin: 0;
    padding: 0;
}
.list__name:hover{
    color: #8f1d17;
    cursor: cell;
}
.footer__block{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #666d89;
}
.footer__Services{
    width: auto;
    height: auto;
    margin: 0;
    padding: 60px 0 0 40px;
}
.Services__heading{
    margin: 0;
    padding: 0;
    font-family: "Lato-Black", sans-serif;
    font-size: 30px;
}
.Services__text_paragraph{
    margin: 0;
    padding: 18px 0px 0px 0px;
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.footer__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.card__heading{
    margin: 0;
    padding: 23px 0 0 19px;
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
}
.card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 315px;
    height: 130px;
    margin: 0;
    padding: 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
}
.card:hover{
    cursor: pointer;
    color: slateblue;
}
.card__text{
    margin: 0;
    padding: 9px 14px 0px 20px;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
}
.card__description{
    max-width: 300px;
    max-height: 119px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.design__card{
    margin: 0;
    padding: 13px 0 0 13px;
}
.idea__card{
    margin: 0;
    padding: 13px 0 0 6px;
}
.answer__card{
    margin: 0;
    padding: 13px 0 0 4px;
}
.layout__card{
    margin: -7px 0 0 0;
    padding: 0 0 0 12px;
}
.support__card{
    margin: -7px 0 0 0;
    padding: 0 0 0 5px;
}
.star__card{
    margin: -7px 0 0 0;
    padding: 0 0 0 5px;
}
.card__heading_star{
    margin: 24px 0 0 20px;
    padding: 0;
}
.portfolio__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 1020px;
    height: 862px;
    margin: 0;
    padding: 0;
    background-color :#2d303a;
}
.portfolio__line{
    width: 100%;
    height: 6px;
    margin: 0;
    padding: 0;
    background-color: #323746;
}
.aboutUs__line{
    width: 100%;
    height: 6px;
    margin: 0;
    padding: 0;
    background-color:white;
}
.portfolio__logo{
    position: relative;
    width: 121px;
    height: 23px;
}
.portfolio__logo_text{
    width: 121px;
    height: 23px;
    margin: 59px 0 0 39px;
    padding: 0;
    font-family: "Lato-Black", sans-serif;
    font-size: 31px;
    color: #666d89;
}
.portfolio__logo_text:hover{
    color: white;
    cursor:pointer
}
.portfolio__imgs{
    width: auto;
    height: 635px;
    margin: 0;
    padding: 1px 0 0 22px;
    overflow: hidden;
}
.portfolio__text{
    position: relative;
    width: 682px;
    height: 17px;
}
.logo__text{
    width: 682px;
    height: 17px;
    margin: 95px 0 0 41px;
    padding: 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 17px;
    color: #666d89;
}
.image{
    width: 220px;
    height: 187px;
    margin: 0;
    padding: 17px 0 0 17px;
    transition: 0.2s;
}
.image:hover{
    border-radius: 5% 50%;
    cursor: crosshair;
}
.portfolio__btns{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin: 114px 0 0 41px;
}
.btn{
    border: 1px solid #666d89;
    border-radius: 15%;
    background-color: #2d303a;
    font-family: "Lato-Reguler",sans-serif;
    font-size: 11px;
    color: #666d89;
    margin: 0 10px 0 0;
    font-size-adjust:0.5;
}
.btn:hover{
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
p{
    margin: 0;
    padding: 0;
}
.btn__all{
    width: 29px;
    height: 22px;
}
.btn__web{
    width: 78px;
    height: 22px;
}
.btn__graphic{
    width: 93px;
    height: 22px;
}
.btn__artwork{
    width: 57px;
    height: 22px;
}
.aboutUs__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 1020px;
    height: 728px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.aboutUs__contacts{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 1020px;
    height: 445px;
    margin: 23px 0 0 0;
    padding: 21px 0 0 40px;;
}
.heading{
    margin: 0;
    padding: 0;
}
.aboutUs__heading{
    margin: 60px 0 0 40px;
    padding: 0;
    font-family: "Lato-Black", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #666d89;
}
.aboutUs__text{
    margin: 19px 0 0 40px;
    padding: 0;
}
.aboutUs__paragraph{
    margin: 0;
    padding: 0;
    font-family: "Lato-Light", sans-serif;
    font-size: 18px;
    color: #666d89;
    line-height: 29px;
}
.contact__socialLinks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 23px 0 0 -7px;
    padding: 0;
}
.description__name{
    max-width: 200px;
    margin: 9px 0 0 0;
    padding: 0;
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
    color: #666d89;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon{
    width: 32px;
    height: 32px;
    margin: 0 0 0 8px;
    padding: 0;
}
.icon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: tomato;
}
.contact__1{
    position: relative;
    width: 304px;
    height: 443px;
    margin: 0;
    padding: 0;
}
.contact__2{
    position: relative;
    width: 304px;
    height: 443px;
    margin: 0;
    padding: 0 0 0 15px;
}
.contact__3{
    position: relative;
    width: 304px;
    height: 443px;
    margin: 0;
    padding: 0 0 0 16px;
}
.description__info{
    font-family: "Lato-Regular", sans-serif;
    margin: 0;
    padding: 7px 3px 0 0;
    font-size: 12px;
    color: #666d89;
    line-height: 22px;
}
.face{
    width: 303px;
    height: 303px;
    transition: 0.3s;
}
.face:hover{
    border-radius: 50% 5%;
    cursor: crosshair;
}
.feedback__block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 40px 0 0 40px;
}
.feedback__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.feedback__wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 1020px;
    height: 648px;
    margin: 0;
    padding: 0;
    background-color:#f06c64;
}
.feedback__line{
    width: 1020px;
    height: 6px;
    margin: 0;
    padding: 0;
    background-color: #ea676b;
}
.copyright__wrapper{
    width: 1020px;
    height: 76px;
    margin: 0;
    padding: 0;
    background-color: #2d303a;
}
.feedback__text{
    position: relative;
    width: 940px;
    height: 102px;
    margin: 60px 0 0 39px;
    padding: 0;
}
.feedback__text_heading{
    position: relative;
    width: 170px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-family: "Lato-Black", sans-serif;
    font-size: 15px;
    color: #f0d8d9;
}
.feedback__text_paragraph{
    position: relative;
    width: 940px;
    height: 50px;
    margin: 24px 0 0 1px;
    padding: 0;
    font-family: "Lato-Light", sans-serif;
    font-size: 20px;
    color: #f0d8d9;
    letter-spacing: -1px;
    line-height: 29px;
    text-align: justify;
}
h1, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #f0d8d9;
}
.textarea{
    width: 617px;
    height: 35px;
    border: 1px solid #d6564f;
    border-radius: 2%;
    color: #f0d8d9;
    background-color: #d6564f;
    resize: none;
    margin-top: 15px;

}
.textarea_thick{
    height: 189px;
    margin: 6px 0 0 0;
    padding: 12px 0 0 0;
}
.feedback__btn_submit{
    width: 85px;
    height: 30px;
    margin: 20px 0 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 10%;
    font-family: "Lato-Regular", sans-serif;
    color: #f0d8d9;
    font-size: 18px;
    background-color: #d6564f;
    transition: 0.1s;
}
.feedback__btn_submit:hover{
    border: 3px solid black;
    cursor: pointer;
    background-color: rgb(187, 42, 42);
}
::-webkit-input-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    text-overflow: ellipsis;
}
::-moz-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    text-overflow: ellipsis;
}
:-moz-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    text-overflow: ellipsis;
}
:-ms-input-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    color: transparent;
    text-overflow: ellipsis;
}
:focus:-ms-input-placeholder{
    color: transparent;
}
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder{
    color: transparent
}
:focus:-moz-placeholder{
    color: transparent
}
.company__adress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 30px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #f0d8d9;
}
.company__number{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 30px;
    margin: -9px 0 0 -2px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #f0d8d9;
}
.company__mail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 30px;
    margin: -7px 0 0 -2px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #f0d8d9;
}
.feedback__info_text{
    margin: 14px 0 0 22px;
    padding: 0;
}
.info__text_heading{
    font-family: "Lato-Black", sans-serif;
    font-size: 9px;
    color:#f0d8d9 ;
}
.info__text_paragraph{
    width: 305px;
    margin: 8px 0 0 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #f0d8d9;
}
.textarea_placegolder{
    padding-top: 8px;
}
.info__company{
    margin: 18px 0 0 24px;
}
.company__adress_text{
    margin: -2px 0 0 13px;
}
.company__number_text{
    margin: -1px 0 0 10px;
}
.company__mail_text{
    margin: -3px 0 0 9px;
}
a:hover{
    color: violet;
}
.copyright__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.copyright__text{
    margin: 0 0 0 40px;
    font-family: "Lato-Regular",sans-serif;
    font-size: 12px;
    color: #666d89;
}
.copyright__icons{
    margin: 5px 36px 0 0;
}
.footer__icon{
    margin: 0 4px 0 0;
}
.footer__icon:hover{
    cursor: pointer;
    background-color: #f06c64;
    border-radius: 50%;
}