html{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1020px;
    width: 1020px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
.feedback__block{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin: 40px 0 0 40px;
}
.feedback__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.feedback__wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 1020px;
    height: 648px;
    margin: 0;
    padding: 0;
    background-color:#f06c64;
}
.feedback__line{
    width: 1020px;
    height: 6px;
    margin: 0;
    padding: 0;
    background-color: #ea676b;
}
.copyright__wrapper{
    width: 1020px;
    height: 76px;
    margin: 0;
    padding: 0;
    background-color: #2d303a;
}
.feedback__text{
    position: relative;
    width: 940px;
    height: 102px;
    margin: 60px 0 0 39px;
    padding: 0;
}
.feedback__text_heading{
    position: relative;
    width: 170px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-family: "Lato-Black", sans-serif;
    font-size: 15px;
    color: #f0d8d9;
}
.feedback__text_paragraph{
    position: relative;
    width: 940px;
    height: 50px;
    margin: 24px 0 0 1px;
    padding: 0;
    font-family: "Lato-Light", sans-serif;
    font-size: 20px;
    color: #f0d8d9;
    letter-spacing: -1px;
    line-height: 29px;
    text-align: justify;
}
h1, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #f0d8d9;
}
.textarea{
    width: 617px;
    height: 35px;
    border: 1px solid #d6564f;
    border-radius: 2%;
    color: #f0d8d9;
    background-color: #d6564f;
    resize: none;
    margin-top: 15px;

}
.textarea_thick{
    height: 189px;
    margin: 6px 0 0 0;
    padding: 12px 0 0 0;
}
.feedback__btn_submit{
    width: 85px;
    height: 30px;
    margin: 20px 0 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 10%;
    font-family: "Lato-Regular", sans-serif;
    color: #f0d8d9;
    font-size: 18px;
    background-color: #d6564f;
    transition: 0.1s;
}
.feedback__btn_submit:hover{
    border: 3px solid black;
    cursor: pointer;
    background-color: rgb(187, 42, 42);
}
::-webkit-input-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    text-overflow: ellipsis;
}
::-moz-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    text-overflow: ellipsis;
}
:-moz-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    text-overflow: ellipsis;
}
:-ms-input-placeholder{
    color: #f0d8d9;
    font-size: 12px;
    padding-left: 12px;
    font-family: "Lato-Regular", sans-serif;
    color: transparent;
    text-overflow: ellipsis;
}
:focus:-ms-input-placeholder{
    color: transparent;
}
:focus::-webkit-input-placeholder {
    color: transparent
}
:focus::-moz-placeholder{
    color: transparent
}
:focus:-moz-placeholder{
    color: transparent
}
.company__adress{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 30px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #f0d8d9;
}
.company__number{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 30px;
    margin: -9px 0 0 -2px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #f0d8d9;
}
.company__mail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 200px;
    height: 30px;
    margin: -7px 0 0 -2px;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    color: #f0d8d9;
}
.feedback__info_text{
    margin: 14px 0 0 22px;
    padding: 0;
}
.info__text_heading{
    font-family: "Lato-Black", sans-serif;
    font-size: 9px;
    color:#f0d8d9 ;
}
.info__text_paragraph{
    width: 305px;
    margin: 8px 0 0 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #f0d8d9;
}
.textarea_placegolder{
    padding-top: 8px;
}
.info__company{
    margin: 18px 0 0 24px;
}
.company__adress_text{
    margin: -2px 0 0 13px;
}
.company__number_text{
    margin: -1px 0 0 10px;
}
.company__mail_text{
    margin: -3px 0 0 9px;
}
a:hover{
    color: violet;
}
.copyright__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.copyright__text{
    margin: 0 0 0 40px;
    font-family: "Lato-Regular",sans-serif;
    font-size: 12px;
    color: #666d89;
}
.copyright__icons{
    margin: 5px 36px 0 0;
}
.footer__icon{
    margin: 0 4px 0 0;
}
.footer__icon:hover{
    cursor: pointer;
    background-color: #f06c64;
    border-radius: 50%;
}