html{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1020px;
    width: 1020px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header{
    width: 1020px;
    height: auto;
    background-color: black;
}

.header_block{
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}

.header_straightLine{
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

main{
    width: 1020px;
    height: auto;
    background-color: red;
}

.main_block{
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
}

.main_straightLine{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

footer{
    width: 1020px;
    height: auto;
    background-color: whitesmoke;
}

.footer_block{
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
}

.footer_straightLine{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}