html{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1020px;
    width: 1020px;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header{
    width: 1020px;
    height: auto;
    background-color: black;
}

.header__block{
    width: 1020px;
    height: 89px;
    background-color: #2d303a;
}

.header__straightLine{
    width: 1020px;
    height: 6px;
    background-color: #323746;
}

main{
    width: 1020px;
    height: auto;
    background-color: red;
}

.main__block{
    display: flex;
    flex-direction: row;
    width: 1020px;
    height: 594px;
    background-color: #f06c64;
}

.main__leftArrow{
    position: relative;
    margin: 279px 0px 0px 35px;
    width: 30px;
    height: 30px;
    background-image: url("./assets/images/arrowLeft.png");
    background-position: center;
    background-repeat: no-repeat;
}

.main__leftArrow:hover{
    transform: scale(1.5, 1.5);
    cursor: pointer;
    transition: 0.4s;
}

.main__iphoneVertical{
    width: auto;
    height: auto;
}

.iphoneVertical__body{
    position: relative;
    margin: 40px 0 0 34px;
    width: 240px;
    height: 483px;
    background-image: url("./assets/images/iphoneVertical.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.iphoneVertical__shadow{
    position: relative;
    margin: -480px 0 0 17px;
    width: 300px;
    height: 500px;
    background-image: url("./assets/images/shadowVertical.png");
    background-position: center;
    background-repeat: no-repeat;
}

.main__iphoneHorizontal{
    width: auto;
    height: auto;
}

.iphoneHorizontal__body{
    position: relative;
    margin: 173px 0px 0px 43px;
    width: 458px;
    height: 216px;
    background-image: url("./assets/images/iphoneHorizontal.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.iphoneHorizontal__shadow{
    position: relative;
    margin: -215px 0 0 44px;
    width: 483px;
    height: 240px;
    background-image: url("./assets/images/shadowHorizontal.png");
    background-position: center;
    background-repeat: no-repeat;
}

.main__rightArrow{
    position: relative;
    margin: 279px 0 0 49px;
    width: 30px;
    height: 30px;
    background-image: url("./assets/images/arrowRight.png");
    background-position: center;
    background-repeat: no-repeat;
}
.main__rightArrow:hover{
    transform: scale(1.5, 1.5);
    cursor: pointer;
    transition: 0.4s;
}

.main__straightLine{
    width: 1020px;
    height: 6px;
    background-color: #ea676b;
}

footer{
    width: 1020px;
    height: auto;
    background-color: whitesmoke;
}

.footer__block{
    width: 1020px;
    height: 494px;
    background-color: #f2f2f2;
}

.footer__straightLine{
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}

.header__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 89px;
    margin: 0;
    padding: 0;
}

.logo__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 89px;
    margin: 0 0 2px 42px;
    padding: 0;
    font-size: 12px;
    font-weight: lighter;
    font-family: 'Lato-Light', sans-serif;
    text-transform: uppercase;
}

.logo__name_white{
    margin: 0;
    padding: 0;
    color: white;
}

.logo__name_red{
    margin: 0;
    padding: 0;
    color:red;
}

.navMenu__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 388px;
    height: 50px;
    margin: 2px 23px -7px 0;
    padding: 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.navMenu__home_red{
    margin: 0 15px 0 0;
    padding: 0;
    color: red;
}
.navMenu__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    margin: 0;
    padding: 0;
}